# Ambientes virtuais
venv/
.env/

# Arquivos de configuração locais
*.env
*.local
*.pyc
__pycache__/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Arquivos de build
dist/
build/
*.egg-info/

# Banco de dados local
*.sqlite3
